* {
    padding: 0;
    margin: 0;
    font-size: 26px;
}
ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-position: inside;
}
.first-item {
    background-color: rgb(198 99 119);
}
h2 {
    color: black;
    margin: 50px 0px;
}
b {
    padding: 0px 10px;
    font-weight: 400;
    background-color: rgb(159 52 75);
}
.container {
    margin-left: 100px;
    max-width: 500px;
}
.first-list {
    background-color: rgb(239 158 175);
    padding: 20px;
    color: white;
}
.second_list {
    margin-left: 50px;
}
ul > li {
    list-style-image: url(./icons/arrow-right_16.png);
}
.second_item-winter {
    list-style-image: url(./icons/snowflake_16.png);
}
.second_item-spring {
    list-style-image: url(./icons/leaf_g_16.png);
}
.second_item-summer {
    list-style-image: url(./icons/sun_16.png);
}
.second_item-autumn {
    list-style-image: url(./icons/leaf_y_16.png);
}
