* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.task_2 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  align-items: center;
}

.task_2 img {
    display: block;
    position: relative;

    width: 390px;
    height: 420px;

    object-fit: cover;
    z-index: 0;
}

.task_2::before{
    content:"";
    position:absolute;

    width:400px;
    height:400px;
    border-bottom:10px solid rgb(249 182 179);
    border-top:10px solid rgb(249 182 179);


    transform:rotate(45deg);
    z-index: -1;
}

.task_2::after{
    content:"";
    position:absolute;

    width:390px;
    height:420px;
    border-left:10px solid rgb(249 182 179);
    border-right:10px solid rgb(249 182 179);

    transform:rotate(45deg);
    z-index: 1;
}

.task_3{
    margin: 500px 0px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.task_3 .card{
    width: 300px;
    height: 350px;

    perspective: 1000px;
}

.card-perev{
    position: relative;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover .card-perev{
    transform: rotateY(180deg);
}

.card-front{
    position: absolute;
    inset: 0;
    overflow: hidden;

    box-shadow: 0 8px 16px rgba(0,0,0,.25);
    backface-visibility: hidden;
}

.card-front-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.front-info{
    background:#fff;
    height: 150px;
    padding: 12px 14px;
}

.front-info h3{
    margin: 0 0 6px;

    font-size: 14px;
    color: #7b7b7b;
    font-weight: 500;
}

.front-info h2{
    margin:0 0 8px;

    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.front-info p{
    margin: 0;

    font-size: 14px;
    color:#000;
}

.card-back{
    display:flex;
    flex-direction:column;

    color:#fff;
    transform:rotateY(180deg);
}

.task_3 .card:nth-child(1) .card-back{
    background: linear-gradient(180deg, rgba(0,0,0,.65), rgba(0,0,0,.85)), url("./img/proj_1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.task_3 .card:nth-child(2) .card-back{
    background: linear-gradient(180deg, rgba(0,0,0,.65), rgba(0,0,0,.85)), url("./img/proj_2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}
.task_3 .card:nth-child(3) .card-back{
    background: linear-gradient(180deg, rgba(0,0,0,.65), rgba(0,0,0,.85)), url("./img/proj_3.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.card-back h3{
    margin: 20px auto 10px auto;
    font-size: 14px;
    font-weight: 500;
    opacity: .95;
}

.card-back h2{
    margin: 10px 0px;
    text-align: center;
    padding: 8px 0px;
    background: orange;
    color:#ffffff;
    font-weight: 700;
    font-size: 18px;
}

.card-back p{   
    margin: 10px 10px 30px 10px;
    font-size: 14px;
    opacity: .95;
}

.card-back span{
    margin: 0px 10px;
    text-align: center;
    font-size: 14px;
    opacity: .95;
}
