* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family:Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.table {
    max-width: 500px;
    width: 100%;
    font-size: 16px;
}

.table th {
    background-color: rgb(218 225 248);
}

.table tfoot {
    background-color: #5776b1;
    color: #fff;
}

.table tfoot td {
    text-align: right;
}

.table, .table th, .table td {
    border: 1px solid #6395ff;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

.schedule {
    max-width: 400px;
    width: 100%;
    font-size: 10px;
}

.schedule, .schedule th, .schedule td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

.schedule th:nth-child(1) {
    width: 30px;
}
.schedule th:nth-child(2) {
    width: 10px;
}
.schedule th:nth-child(3) {
    width: 10px;
}
.schedule th:nth-child(4) {
    width: 250px;
}
.schedule th:nth-child(5) {
    width: 10px;
}
.schedule th:nth-child(6) {
    width: 10px;
}

.para {
    width: 10px;
    overflow: hidden;
    text-align: center;
}
.monday {
    writing-mode:sideways-lr;
    text-align: center;
    font-size: 20px;
}

.week {
    text-align: center;
}

.test {
    border-top: 1px solid black;
}

/* ---------------------------------------- */
.messages {
    border: 1px solid black;
    border-radius: 5px;
}

.messages th {
     background-color: rgb(62 125 185);
     color: white;
}

.messages tr:nth-child(2n) {
    background-color: rgb(212 229 244);
}

.messages td {
    text-align: center;
}

.messages .size b {
    padding: 10px;
    background-color: rgb(62 125 185);
    color: white;
    border-radius: 20px;
    font-weight: 400;
}

.messages, .messages th, .messages td {
    border-collapse: collapse;
    padding: 15px 50px;
}

.num b{
    padding: 5px 10px;
    background-color: rgb(47, 113, 255);
    border-radius: 50%;
}

#g {
    background-color: rgb(53, 255, 53);
}

#r {
    background-color: orangered;
}

#b {
    background-color: darkblue;
}

#o {
    background-color: orange;
}